# The Algolia credentials can be found at https://www.algolia.com/api-keys
# We prefix some credentials with GATSBY_ so that the client can use them
GATSBY_ALGOLIA_APP_ID
GATSBY_ALGOLIA_API_KEY
GATSBY_ALGOLIA_INDEX_NAME

# The ALGOLIA_ADMIN_KEY isn't prefixed with GATSBY_ so that it remains private
# This variable is only required when rebuilding the index and should remain secret
ALGOLIA_ADMIN_KEY