@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black-30;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../fonts/FrankRuhlLibre-Black.ttf");
  font-display: swap;
}

/* Wrapper for the user-generated content inside projects */
h1.markdown-element {
  @apply text-black-500;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 18px;
}

h2.markdown-element {
  @apply text-black-400;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}

h3.markdown-element {
  @apply text-black-400;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 12px;
}

p.markdown-element,
ul.markdown-element,
ol.markdown-element {
  @apply text-black-300;
  font-size: 14px;
  margin-bottom: 18px;
}

ul.markdown-element {
  @apply list-disc list-inside;
}

ol.markdown-element {
  @apply list-decimal list-inside;
}

a.markdown-element {
  @apply text-blue-500;
  font-weight: 700;
}

a.markdown-element:hover,
a.markdown-element:focus {
  text-decoration: underline;
}

img.markdown-element {
  margin-bottom: 18px;
}

code.markdown-element {
  @apply bg-black-50;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 5px;
}

/* Use this class on the direct parent of an anchor to display it on hover */
.anchor-reveal:hover > .anchor {
  opacity: 1;
}

/* Style input fields */
.input[type="text"],
.input[type="email"],
textarea.input {
  @apply border border-black-200 rounded bg-white px-2 py-1 block w-full focus:ring-blue-500 focus:border-blue-500;
}

.input[type="checkbox"] {
  @apply mr-2 cursor-pointer border-blue-500;
}

/* Projects grid */
.projects-wrapper {
  justify-content: end;
  justify-items: end;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .projects-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1536px) {
  .projects-wrapper {
    grid-template-columns: repeat(3, auto);
    max-width: 1600px;
  }
}

/* Sidebar with filters */
@media (max-width: 767px) {
  .sidebar-backdrop {
    @apply bg-black-500;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 100ms linear;
    z-index: 60;
  }
  .sidebar-backdrop.active {
    opacity: 0.3;
    pointer-events: all;
  }

  .sidebar {
    background: white;
    right: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    transform: translateX(100%);
    transition: transform 150ms ease-out;
    width: 80%;
    z-index: 61;
    will-change: transform;
  }

  .sidebar.active {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: 70px; /* 56px header height with some buffer */
    width: 280px;
    height: calc(100vh - 70px); /* 56px header height with some buffer */
    z-index: 9999;
  }
}

/* Prevent scrolling the body (useful for mobile menus) */
@media (max-width: 767px) {
  .prevent-mobile-scroll {
    overflow: hidden;
  }
}

/* Rewards grid */
.rewards-grid {
  display: grid;
  grid-template-areas:
    "header-maintainers"
    "reward-tier-1-maintainers"
    "reward-tier-2-maintainers"
    "header-contributors"
    "reward-tier-1-contributors"
    "reward-tier-2-contributors"
    "footer";
}

.rewards-grid .reward-tier-1,
.rewards-grid .reward-tier-2 {
  display: none;
}

@media (min-width: 768px) {
  .rewards-grid {
    grid-template-columns: 160px minmax(0, 1fr) minmax(0, 1fr);
    gap: 0 20px;
    grid-template-areas:
      ". header-maintainers header-contributors"
      "reward-tier-1 reward-tier-1-maintainers reward-tier-1-contributors"
      "reward-tier-2 reward-tier-2-maintainers reward-tier-2-contributors"
      ". footer footer";
  }

  .rewards-grid .reward-tier-1,
  .rewards-grid .reward-tier-2 {
    display: block;
  }
}

/* Define grid areas */
.rewards-grid .header-maintainers {
  grid-area: header-maintainers;
}

.rewards-grid .header-contributors {
  grid-area: header-contributors;
}

.rewards-grid .reward-tier-1-maintainers {
  grid-area: reward-tier-1-maintainers;
}

.rewards-grid .reward-tier-1-contributors {
  grid-area: reward-tier-1-contributors;
}

.rewards-grid .reward-tier-2-maintainers {
  grid-area: reward-tier-2-maintainers;
}

.rewards-grid .reward-tier-2-contributors {
  grid-area: reward-tier-2-contributors;
}

.rewards-grid .reward-tier-1 {
  grid-area: reward-tier-1;
}

.rewards-grid .reward-tier-2 {
  grid-area: reward-tier-2;
}

.rewards-grid .footer {
  grid-area: footer;
}
