@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black-30;
}

@font-face {
  font-family: "Frank Ruhl Libre";
  src: url("../fonts/FrankRuhlLibre-Black.ttf");
  font-display: swap;
}

/* Wrapper for the user-generated content inside project */
h1.markdown-element {
  @apply text-black-500;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 18px;
}

h2.markdown-element {
  @apply text-black-400;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}

h3.markdown-element {
  @apply text-black-400;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 12px;
}

p.markdown-element,
ul.markdown-element,
ol.markdown-element {
  @apply text-black-300;
  font-size: 14px;
  margin-bottom: 18px;
}

ul.markdown-element {
  @apply list-disc list-inside;
}

ol.markdown-element {
  @apply list-decimal list-inside;
}

a.markdown-element {
  @apply text-blue-500;
  font-weight: 700;
}

a.markdown-element:hover,
a.markdown-element:focus {
  text-decoration: underline;
}

img.markdown-element {
  margin-bottom: 18px;
}

code.markdown-element {
  @apply bg-black-50;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 5px;
}

/* Use this class on the direct parent of an anchor to display it on hover */
.anchor-reveal:hover > .anchor {
  opacity: 1;
}
