:root {
  --spacer-2: 4px;
  --spacer-4: 8px;
  --spacer-6: 12px;
  --spacer-8: 16px;
  --spacer-10: 20px;
  --spacer-12: 24px;
  --spacer-16: 32px;
  --spacer-32: 64px;
}

body {
  background-color: ghostwhite;
}
