.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 270px;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  padding: 42px;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0.2rem;
}
.side-drawer a {
  color: rgb(81, 80, 107);
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: rgb(81, 80, 107);
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
